.user-list{
      height: 550px;
}

/* .user-list .table-light tr th, tbody tr td{
    text-align: center;
    padding: 1rem;
} */

.user-list .table-light tr th, tbody tr td{
    text-align: center;
    padding: 1rem;
}

.card-header {
    padding: 1.1rem 1.1rem;
}
.password-field-icon {
    float: right;
    left: -10px;
    top: -32px;
    position: relative;
    z-index: 4;
    cursor: pointer;
    font-size: 18px;
}
.bg-list-header{
        background: antiquewhite;
}
.cursor{
       cursor: pointer;
}

.add-page {
  border: 2px solid #fb8c24;
  background-color: #fb8c24;
  border-radius: 0.9em;
  cursor: pointer;
  padding: 0.4em 0.8em 0.4em 0.8em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
  color: white;
}

.add-page:hover {
  background-color: #faa85c;
}
<<<<<<< HEAD
.cms-table-header tr th{
    color: #eff4f8 !important;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
}
.cms-table-header tbody tr td {
    font-weight: bold;
    text-align: center;
}
=======
.cms-table-header tr th, tbody tr td {
    color: #eff4f8 !important;
    font-weight: bold;
    text-align: center;
}

>>>>>>> 4e40845893513e35ee56100cc7a5b8d193ad4ca9
